<div class="box box-primary">
    <div class="box-header">
        <h2 class="box-title">
            <i class="fa fa-line-chart"></i>
            Il y a <span style="background-color: #d00e0e" class="badge">{{ list | length }}</span> demandes en attente
        </h2>
    </div>
    <div class="box-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>entreprise</th>
                    <th>date</th>
                    <th>encodeur</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for v in list %}
                <tr>
                    <td>{{ v.source.nom }}</td>
                    <td>{{ v.demande.dateEnregistree |date('d-m-Y') }}</td>
                    <td>{{ v.demande.user.username }}</td>
                    <td>
                        <a class="btn btn-sm btn-default" href="{{ path('admin_demande_verification_show',{'id': v.id}) }}">
                            <i class="fa fa-eye"></i>
                            afficher
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>