{% extends base_template %}

{% block actions %}
    {% include 'SonataAdminBundle:CRUD:action_buttons.html.twig' %}
{% endblock %}

{% block tab_menu %}
    {% if action is defined %}
        {{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': sonata_admin.adminPool.getTemplate('tab_menu_template')}, 'twig') }}
    {% endif %}
{% endblock %}

{% block navbar_title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header">
            <h4 class="box-title">{{ block("navbar_title") }}</h4>
        </div>
        <div class="box-content">
            {{ view | raw }}
        </div>
    </div>
{% endblock %}