.label-status_1{
    background-color: #39ddc0 !important;
    color: #fff;
}
.label-status_2{
    background-color: #00a65a !important;
    color: #fff;
}
.TrackerWrap{
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    padding: 25px 0 0 20px;
}
.Step{
    display: block;
    overflow: hidden;
}
.Step:before{
    display: block;
    content: "";
}
.Step:after{
    display: block;
    content: "";
    clear: both;
}
.Step-date,
.Step-node{
    float: left;
    box-sizing: border-box;
}
.Step-date{
    width: 20%;
    text-align: right;
    padding: 0 25px 0 0;
    color: #a9a9a9;
    min-height: 30px;
}
.Step-header{
    color: #545454;
    font-size: 16px;
    margin: 1em 0 0.5em;
}
.Step-node{
    max-width: 50%;
    position: relative;
    padding: 0 0 25px 25px;
    color: #cecece;
}
.Step-node:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 5px solid;
}
.Step-node:after{
    box-sizing: border-box;
    content: "";
    background-color: #fff;
    position: absolute;
    border: 5px solid;
    top: 0;
    left: -10px;
    width: 24px;
    height: 24px;
    webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}
.Step__success .Step-node{
    color: #17c117;
}
.Step__error .Step-node{
    color: #fb3131;
}
.Step__current .Step-node{
    color: #0093ff;
}
.Step-month{
    display: block;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
}
.Step__current .Step-month{
    color: #0093ff;
}
.Node{}
.Node p{
    color: #999;
}
.Node-title{
    color: inherit;
    margin: 0;
    padding: 0 0 0.5em;
    font-size: 18px;
    position: relative;
}
.Node-title:after{
    content: "";
    display: block;
    border-bottom: 2px solid;
    width: 0;
    transition: all 500ms;
    position: absolute;
    bottom: 0;
    left: 0;
}
.Step:hover .Node-title:after{
    width: 50%;
}
.Node-actions{
    display: block;
    text-align: right;
    padding: 0 0 0 25px;
    margin: 10px 0 0;
}
.Node-action{
    display: inline-block;
    vertical-align: top;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin: 0 2px;
    overflow: hidden;
    border-radius: 2px;
    color: inherit;
    border: 1px solid transparent;
    padding: 0 7px;
    box-sizing: border-box;
    transition: all 200ms;
}
.Node-action:hover{
    border: 1px solid;
    background-color: #fff;
}
.login-page, .register-page {
    background-image: url("../img/bg_0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.partners_box{
    display: block;
    margin: 10px auto 0;
    padding: 10px 0 0;
    text-align: center;
    overflow: hidden;
    border-top: 1px solid rgba(0,0,0,.2);
}
.partners_box ul{
    margin: 0;
    padding: 0;
}
.partners_box li{
    display: inline-block;
    vertical-align: top;
}
.partners_box img{
    display: block;
    height: 48px;
    width: auto;
}
.partners_box p{
    margin: 0;
    padding: 0;
}
.login-logo a, .register-logo a{
    color: #fff;
}
.Annotation-head{
    font-size: 0.9em;
    font-weight: bold;
    color: #828282;
    font-style: italic;
}
.Annotation > a{
    display: block;
    text-align: right;
}
.Annotation-content{
    text-align: justify;
}
.Activity{
    display: block;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    padding: 20px 10px;
    overflow: hidden;
    border-radius: 2px;
    border-top: 2px solid #0093ff;
    margin-bottom: 10px;
}
.Activity-header{
    text-transform: lowercase;
    color: #444;
    font-size: 1.5em;
    font-weight: normal;
    margin: 0 -10px 5px;
    padding: 0 10px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.Activity-notification{
    margin: 0 0 15px;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
.Activity-notification li{
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
}
.Notifier{
    display: block;
    padding: 5px 7px;
    text-decoration: none;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    color: #13c360;
    font-weight: bolder;
    background-color: inherit;
}
.Notifier:hover{
    border-color:  #13c360;
}
.Activity-listing{
    min-width: 100%;
}
.Entry{
    line-height: 24px;
}
/*.Entry-trash input{
    display: none;
}
.Entry-trash label{
    min-width: 24px;
    cursor: pointer;
    display: block;
}
.Entry-trash label:before{
    content: "\f1f8";
    font-family: "FontAwesome";
    font-size: 16px;
    color: rgba(0,0,0,.3);
}
.Entry-trash input:checked + label:before{
    content: "\f058";
    color: green;
}*/
.Entry-date{
    font-size: 12px;
    font-style: italic;
    text-transform: lowercase;
    color: #414141;
}
.Entry-context{
    font-size: 20px;
    text-align: center;
    color: #0093ff;
}
.Entry-action{
    color: #545454;
}
.Entry-subject{
    color: #000;
    font-weight: bold;
}
.Entry-complement{
    color: #13c360;
}
a.Entry-complement{
    color: #3c8dbc;
}
.Activity-buttons{
    text-align: right;
    margin: 10px 0 5px;
}

.geomap{
  display:block;
  min-height:620px;
  max-width: 100%;
  /*background-color: red; */

}
.table_form td,
.table_form th{
    padding: 8px;
    border: 1px solid #f4f4f4;
}
.trabois_collection tr._header{
    display: none;
}
.trabois_collection tr._header:first-child{
    display: table-row;
}