<div class="dropdown-menu multi-column dropdown-add" style="width: 360px;">
    <div class="container-fluid">
        <div class="row">
            {% for  key,group in dossier_grouped_list %}
            <ul class="dropdown-menu col-md-6">
                <li class="dropdown-header">
                    <i class="fa fa-{{ attribute(group,'icon') }}"></i> {{ attribute(group,'title') }}:
                </li>
                {% for type in attribute(group,'dossiers') %}
                    <li><a href="{{ path('admin_dossier_dossier_create') }}?type={{ type }}">{{ attribute(dossier_list,type) }}</a></li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div>
</div>