{% if admin.isGranted('CREATE', admin.getChild('corporate.admin.sous_traitant')) %}
    <a href="{{ path('admin_corporate_entreprise_soustraitant_create', {'id': object.id }) }}">
        <i class="fa fa-users"></i>
        Ajouter Sous-traitant
    </a>
{% endif %}