{% if admin.isGranted('CREATE', admin.getChild('corporate.admin.contact')) %}
    <a href="{{ path('admin_corporate_entreprise_contact_create', {'id': object.id }) }}">
        <i class="fa fa-user"></i>
        Ajouter contact
    </a>
{% endif %}