{% if admin.isGranted('CREATE', admin.getChild('corporate.admin.concession')) %}
    <a href="{{ path('admin_corporate_entreprise_concession_create', {'id': object.id }) }}">
        <i class="fa fa-home"></i>
        Ajouter concession
    </a>
{% endif %}