{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if admin.isGranted('VIEW',object) %}
        <a class="btn btn-sm btn-default" target="_blank" title="pièce-jointe" href="{{ admin.generateObjectUrl('arbreCSV', object) }}">
            <i class="fa fa-file-text-o"></i> afficher
        </a>
    {% endif %}
{% endblock %}