{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if admin.isGranted('VIEW',object) and not object.inventory is null %}
        {% set file = vich_uploader_asset(object,'inventoryFile') %}
        <a class="btn btn-sm btn-default" target="_blank" title="pièce-jointe" href="{{ asset(file) }}">
            <i class="fa fa-download"></i> télécharger
        </a>
    {% endif %}
{% endblock %}