{% if admin.isGranted('VIEW', object) %}
    <a class="btn btn-sm btn-default" href="{{ path('admin_inventory_inventory_arbre_list', { 'id': object.id}) }}">
        <i class="fa fa-leaf"></i>
        arbres
    </a>
{% endif %}