{% extends "SonataAdminBundle::standard_layout.html.twig" %}
{%set route = app.request.attributes.get('_route')%}
{% block sonata_head_title %}
    Trabois

    {% if _title is not empty %}
        - {{ _title|raw }}
    {% else %}
        {% if action is defined %}
            -
            {% for menu in breadcrumbs_builder.breadcrumbs(admin, action) %}
                {% if not loop.first %}
                    {%  if loop.index != 2 %}
                        &gt;
                    {% endif %}

                    {{ menu.label }}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif%}
{% endblock %}
{% block side_bar_after_nav_content %}
    <a href="#" rel="noreferrer" target="_blank">Trabois - AUFS</a>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}"/>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/mukadichartjs/js/Chart.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var charts = {};
            $('.mukadi_chartJs_container').each(function(){
                id = $(this).data('target');
                config = {
                    type: $(this).data('chart-type'),
                    data: {
                        labels: $(this).data('labels'),
                        datasets: $(this).data('datasets')
                    },
                    options: $(this).data('options')
                };
                chart = new Chart($("#"+id),config);
                charts[id]=chart;
            });
            window.mukadi_charts={
                get: function(id){
                    return charts[id];
                }
            }
        });
    </script>
{% endblock %}
{% block sonata_top_nav_menu %}
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            {% if is_granted('ROLE_CONFIG') or is_granted('ROLE_SUPER_ADMIN')%}
            <li {% if route == 'app_config' %} class="active" {% endif %} >
                <a title="Paramètres" href="{{ path('app_config') }}"><i class="fa fa-wrench fa-fw"></i></a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_AFFECTED_EXPLOITANT') or is_granted('ROLE_SUPER_ADMIN')%}
                <li class="dropdown">
                    <a title="nouveau dossier" class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-suitcase fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    {{ dossier_list() }}
                </li>
            {% endif %}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bars fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu">
                    {% if is_granted('ROLE_ACTIVITY') or is_granted('ROLE_SUPER_ADMIN')%}
                    <li>
                        <a title="activités du système" href="{{ path('activity_activities') }}">
                            <i class="fa fa-newspaper-o fa-fw"></i> journal des activités
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a title="Suivi de dossier" href="{{ path('trajet_search') }}">
                            <i class="fa fa-send-o fa-fw"></i> Suivre un dossier
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-plus-square fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                {% include sonata_admin.adminPool.getTemplate('add_block') %}
            </li>
            <li class="dropdown user-menu">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    {% include sonata_admin.adminPool.getTemplate('user_block') %}
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}