{% extends base_template %}

{% block actions %}
    {% include 'SonataAdminBundle:CRUD:action_buttons.html.twig' %}
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': sonata_admin.adminPool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% block content %}
    {{ form_start(form) }}

    {% if errors is defined %}
        {% for e in errors  %}
            <div class="sonata-ba-form-error alert alert-danger">
                {{ e }}
            </div>
        {% endfor %}
    {% endif %}

    {% if form.vars.errors|length > 0 %}
        <div class="sonata-ba-form-error">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    <div class="sonata-ba-form">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Importer les arbres de l'inventaire {{ object.reference }}</h3>
            </div>
            <div class="box-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias aliquam beatae dolor dolorem eos eveniet excepturi, libero magni nihil nisi officiis perferendis quos reiciendis rem repellendus reprehenderit sunt voluptate!
            </div>
            <div class="box-footer clearfix">
                {{ form_widget(form) }}
            </div>
        </div>
    </div>
    <div class="sonata-ba-form-actions well well-small form-actions">
        <button type="submit" class="btn btn-success">
            <i class="fa fa-download"></i>
            importer
        </button>
        ou
        <a class="btn btn-info" href="#">
            <i class="fa fa-file-text"></i>
            télécharger le modèle
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}