{% if admin.isGranted('APPROVE', object) %}
    <a class="btn btn-success btn-sm" href="{{ admin.generateObjectUrl('approve', object) }}">
        <i class="fa fa-check-circle"></i>
        approuver
    </a>
{% endif %}