{% extends base_template %}
{% block title %}{{ title| default("Rechercher un dossier") }}{% endblock%}
{% block breadcrumb %}
{% endblock %}
{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block actions %}
    {{ include("TrajetBundle:Core:track_search.html.twig") }}
{% endblock %}
{% block content %}
    <div class="sonata-ba-div">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Suivi des dossiers</h3>
            </div>
            <div class="box-body">
                <p>
                    Cette interface permet à l'utilisateur de voir le parcours du dossier dans le système rien qu'en inserant la référence du dossier sur la zone de recherche.
                </p>
            </div>
        </div>
    </div>
{% endblock %}