{% extends base_template %}
{% import _self as trajets %}
{% block title %}Suivi du dossier #{{ trace }}{% endblock%}
{% block breadcrumb %}
{% endblock %}
{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block actions %}
    {{ include("TrajetBundle:Core:track_search.html.twig") }}
{% endblock %}
{% block content %}
    <div class="sonata-ba-div">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Parcours du dossier</h3>
            </div>
            <div class="box-body">
                <div class="TrackerWrap">
                    <div class="Tracker">
                        {% for data in steps|reverse %}
                            {% set step = attribute(data,"step") %}
                            {% set header = attribute(data,"header") %}
                            {% if not step is null %}
                                {% set modifier = attribute(data,"modifier") %}
                                {{ trajets.step(step,header,modifier ) }}
                            {% else %}
                                {{ trajets.empty_step(header) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% macro step(step,header,modifier) %}
    <div class="Step Step__{{ modifier }}">
        <div class="Step-date">
            <span class="Step-month">{{ step.date |date("F") }}</span>
            <span class="Step-day">{{ step.date |date("D d, Y") }}</span>
        </div>
        <div class="Step-node">
            <h2 class="Step-header">{{ header }}</h2>
            {{ trajet_node(step.node) }}
        </div>
    </div>
{% endmacro %}
{% macro empty_step(header) %}
    <div class="Step Step__empty">
        <div class="Step-date">
        </div>
        <div class="Step-node">
            <h2 class="Step-header">{{ header }}</h2>
        </div>
    </div>
{% endmacro %}