<div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form method="get" action="{{ path("trajet_search") }}" class="navbar-form navbar-right">
            <div class="form-group">
                <input name="trace" id="trace" type="text" class="form-control" placeholder="Référence du dossier">
            </div>
            <button type="submit" class="btn btn-default">Rechercher</button>
        </form>
    </div>
</div>