{% if admin.isGranted('VIEW', object) and object.isApproved %}
    <a target="_blank" href="{{ admin.generateObjectUrl('invoice', object) }}">
        <i class="fa fa-print"></i>
        imprimer facture
    </a>
{% endif %}