{% if admin.isGranted('VALIDATE', object) %}
    <a class="btn btn-sm btn-success" href="{{ admin.generateObjectUrl('validate', object) }}">
        <i class="fa fa-thumbs-up"></i>
        valider
    </a>
{% endif %}