{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block show %}
    <div class="row">
        <div class="col-md-4">
            {{ parent() }}
        </div>
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header">
                    <h4 class="box-title">Etiquettes</h4>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>requête</th>
                                <th>permis</th>
                            </tr>
                        </thead>
                        {% for i in object.items %}
                        <tr>
                            <td>
                                {{ i }}
                            </td>
                            <td>
                                {{ i.refPCB }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header">
                    <h4 class="box-title">Preuve de paiement</h4>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Description</th>
                            <th>fichier</th>
                        </tr>
                        </thead>
                        {% for f in object.files %}
                            <tr>
                                <td>{{ f.name }}</td>
                                <td>
                                    {% set file = vich_uploader_asset(f,'file') %}
                                    <a target="_blank" title="pièce-jointe" href="{{ asset(file) }}">
                                        <i class="fa fa-file-text-o"></i> télécharger
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}