{% extends base_template %}

{% block title %}
    soumettre la demande d'étiquettes: "{{ object }}"
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block actions %}
    {% include 'SonataAdminBundle:CRUD:action_buttons.html.twig' %}
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': sonata_admin.adminPool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% block form %}
    {{ form_start(form,{ 'method':'POST', 'attr': {'role': 'form'} }) }}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h4 class="box-title">joindre des fichiers (preuves de paiement)</h4>
                </div>
                <div class="box-body">
                    {{ form_widget(form.files) }}
                </div>
            </div>
        </div>
    </div>
    <div class="sonata-ba-form-actions well well-small form-actions">
        <button class="btn btn-success">
            <i class="fa fa-upload"></i>
            soumettre
        </button>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".trabois_collection_add").bind('click',function(){
                var source = $(this).data('source');
                var wrapper = $(source);
                var index = wrapper.data('index');
                var prototype = wrapper.data('prototype');
                prototype = prototype.replace(/__name__/g,index);
                prototype = $(prototype);
                prototype.find("._form_line_delete").bind("click",removeFormLine);
                wrapper.data('index',index+1);
                wrapper.append(prototype);
            });
            $("._form_line_delete").bind("click",removeFormLine);

            function removeFormLine(e){
                e.preventDefault();
                var target = $(this).data('target');
                $(target).remove();
            }
        });
    </script>
{% endblock javascripts %}