{% extends "DemandeBundle:CRUD:colisage_show.html.twig" %}

{% block thead %}
<tr>
    <th>No.</th>
    <th>Nombre des bottes</th>
    <th>Nombre des pièces</th>
    <th>Epaisseur (mm)</th>
    <th>Qualité</th>
    <th>Cubage (m3)</th>
    <th>Tonnage</th>
</tr>
{% endblock thead %}

{% block item %}
    <td>{{ loop.index }}</td>
    <td>{{ item.nbreBotte }}</td>
    <td>{{ item.nbrePiece }}</td>
    <td>{{ item.epaisseur }}</td>
    <td>{{ item.qualite }}</td>
    <td>{{ item.cubage }}</td>
    <td>{{ item.tonnage }}</td>
{% endblock %}

