{% extends "DemandeBundle:CRUD:colisage_show.html.twig" %}

{% block thead %}
<tr>
    <th>No.</th>
    <th>N° Grume</th>
    <th>N° Abattage</th>
    <th>Permis de Coupe</th>
    <th>Longueur (m)</th>
    <th>Diamètre AA (cm)</th>
    <th>Diamètre SA (cm)</th>
    <th>Volume AA (m3)</th>
    <th>Volume SA (m2)</th>
    <th>Tonnage (T)</th>
</tr>
{% endblock thead %}

{% block item %}
    <td>{{ loop.index }}</td>
    <td>{{ item.numGrume }}</td>
    <td>{{ item.numAbattage }}</td>
    <td>{{ item.numPermis }}</td>
    <td>{{ item.longueur }}</td>
    <td>{{ item.diamAA }}</td>
    <td>{{ item.diamSA }}</td>
    <td>{{ item.cubage }}</td>
    <td>{{ item.cubageSA }}</td>
    <td>{{ item.tonnage }}</td>
{% endblock %}

