{% extends "DemandeBundle:CRUD:colisage_show.html.twig" %}

{% block thead %}
<tr>
    <th>No.</th>
    <th>Nombre des Paquets</th>
    <th>Nombre des pièces</th>
    <th>Hauteur (m)</th>
    <th>Largeur (m)</th>
    <th>Epaisseur (m)</th>
    <th>Tonnage</th>
</tr>
{% endblock thead %}

{% block item %}
    <td>{{ loop.index }}</td>
    <td>{{ item.nbrePaquet }}</td>
    <td>{{ item.piece }}</td>
    <td>{{ item.hauteur }}</td>
    <td>{{ item.largeur }}</td>
    <td>{{ item.epaisseurP }}</td>
    <td>{{ item.cubage }}</td>
{% endblock %}

