{% extends base_template %}
{% block title %}Journal des activités{% endblock%}
{% block breadcrumb %}
{% endblock %}
{% block navbar_title %}
    {{ block('title') }}
{% endblock %}
{% block content %}
    <div class="Activity">
        <h1 class="Activity-header">{{ block('title') }}</h1>
        <table class="Activity-listing">
            <tbody>
            {% for a in timeline %}
                {{  timeline_render(a, null, { 'trash': false }) }}
            {% else %}
                <tr class="Entry-empty">
                    <td>aucune activité enregistrée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if page > 1 %}
        <nav>
            {% set route = app.request.get('_route') %}
            {% set prev = page-1 %}
            {% set next = page+1 %}
            <ul class="pagination">
                <li {% if prev <= 1 %}class="disabled"{% endif %}><a href="{{ path(route,{'page': prev}) }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                {% for p in range(1,pages) %}
                    <li {% if p == page %}class="active"{% endif %}><a href="{{ path(route,{'page': p}) }}">{{ p }}</a></li>
                {% endfor %}
                <li {% if next >= pages %}class="disabled"{% endif %}><a href="{{ path(route,{'page': next}) }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
        </nav>
    {% endif %}
{% endblock %}