{% extends "SonataAdminBundle:Form:form_admin_fields.html.twig" %}

{% import "::macro.htm.twig" as macro %}

{%- block collection_widget -%}
    {%- set attr = attr|merge({'class': "table table-bordered table_form" }) -%}
    {%- set attr = attr|merge({'data-index': form | length }) -%}
    {% if prototype is defined %}
        {%- set attr = attr|merge({'data-prototype': block("table_prototype") }) -%}
    {% endif %}
    <div class="trabois_collection">
        <table {{ block('widget_container_attributes') }}>
            {% for line in form %}
                {% set index = loop.index0 %}
                {{ block("draw_line") }}
            {% endfor %}
        </table>
        <button data-target="#{{ id }}" data-source="#{{ id }}" type="button" class="trabois_collection_add btn btn-sm btn-primary">
            <i class="fa fa-plus-circle"></i> ajouter
        </button>
    </div>
{%- endblock collection_widget -%}

{%- block table_prototype -%}
    {% set line = prototype %}
    {% set index = "__name__" %}
    {{ block("draw_line") }}
{%- endblock -%}

{% block draw_line %}
    {% set id = "_form_line_"~index %}
    <tr class="{{ id }}" class="_header">
        {% for tag in line %}
            <th>
                {{ tag.vars.label }}
                {% if tag.vars.required %}*{% endif %}
            </th>
        {% endfor %}
        {% if allow_delete %}<th>actions</th>{% endif %}
    </tr>
    <tr class="{{ id }}" class="_form_line">
    {% for tag in line %}
        <td>
            {{ form_widget(tag) }}
        </td>
    {% endfor %}
    {% if allow_delete %}
        <td>
            <button type="button" data-target=".{{ id }}" class="_form_line_delete btn btn-danger btn-sm">
                <i class="fa fa-trash"></i> supprimer
            </button>
        </td>
    {% endif %}
    </tr>
{% endblock %}