{% macro draw_row(form) %}
    <tr>
        {% for tag in form %}
            <th>
                {{ form_label(tag) }}
            </th>
        {% endfor %}
    </tr>
<tr>
    {% for tag in form %}
        <td>
            {{ form_widget(tag) }}
        </td>
    {% endfor %}
{% endmacro %}