{% if not colisage is null %}
<div class="box box-primary">
    <div class="box-header">
        <h4 class="box-title">Liste de colisage (Essence: {{ colisage.essence | upper }})</h4>
    </div>
    <div class="box-body table-responsive no-padding">
        <table class="table">
            <thead>
            {% block thead %}{% endblock thead %}
            </thead>
            <tbody>
            {% for item in colisage.liste %}
                <tr>
                    {% block item %}{% endblock %}
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            {{ block('thead') }}
            </tfoot>
        </table>
    </div>
</div>
{% endif %}
