{% if admin.isGranted('EDIT', object) %}
    <a class="btn btn-sm btn-primary" href="{{ admin.generateObjectUrl('generateTags', object) }}">
        <i class="fa fa-tags"></i>
        générer étiquettes
    </a>
{% endif %}