{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block show %}
    {{ parent() }}

    <div class="sonata-ba-view">
        <div class="row">
            <div class="col-md-12">
                {{ render_colisage(object.liste) }}
            </div>
        </div>
    </div>
{% endblock %}