<div class="Activity">
    <h1 class="Activity-header">{{ title }}</h1>
    <ul class="Activity-notification">
        <li>
            <a href="#" class="Notifier">
                <i class="fa fa-globe"></i> notifications ({{ count }})
            </a>
        </li>
    </ul>
    <form method="GET">
        <table class="Activity-listing">
            <tbody>
            {% for a in actions %}
                {{  timeline_render(a, null, { 'trash': true }) }}
            {% else %}
                <tr class="Entry-empty">
                    <td>aucune nouvelle activité</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="Activity-buttons">
            <div class="btn-group">
                <button class="btn btn-default" type="submit" name="activity_trash" value="trash">
                    <i class="fa fa-trash"></i>
                    marquer comme vu
                </button>
                <button class="btn btn-danger" type="submit" name="activity_trash" value="trash_all">
                    <i class="fa fa-trash-o"></i>
                    tout marquer
                </button>
            </div>
        </div>
    </form>
</div>