{% extends "AppBundle:CRUD:import_hint.html.twig" %}
{% block hint %}
    {{ parent() }}
    <h5>Note :</h5>
    <ul>
        <li>Pour la colonee <b>essence</b> utilisez le nom pilote écrit tout en minuscule </li>
        <li>
            Pour la colonne <b>"etat"</b> (qualité), les valeurs acceptées sont:
            <ul>
                <li><b>1</b> pour <span style="text-transform: uppercase;">bonne</span></li>
                <li><b>2</b> pour <span style="text-transform: uppercase;">moyenne</span></li>
                <li><b>3</b> pour <span style="text-transform: uppercase;">mauvaise</span></li>
            </ul>
        </li>
    </ul>
{% endblock %}