<style type="text/css">
<!--
table {
        width: 100%;
        color: #717375;
        font-family: helvetica;
        line-height: 5mm;
        border-collapse: collapse;
    }
    h2  { margin: 0; padding: 0; }
    p { margin: 5px; }

    .border th {
        border: 1px solid #000;
        color: white;
        background: #000;
        padding: 2px;
        font-weight: normal;
        font-size: 14px;
        text-align: center; }
        
    .border th.orange {
        border: 1px solid #ED7E4B;
        color: white;
        background: #ED7E4B;
        padding: 5px;
        font-weight: bold;
        font-size: 14px;
        text-align: center; }
        
    .border tr.orange {
        border: 1px solid #ED7E4B;
        color: white;
        background: #ED7E4B;
        padding: 2px;
        font-weight: normal;
        font-size: 14px;
        text-align: center; }
        
    .border td {
        border: 1px solid #CFD1D2;
        padding: 2px  5px;
        text-align: center;
    }
    
    .border td.texte {
        border: 1px solid #CFD1D2;
        padding: 2px 5px;
        text-align: left;
    }
    .no-border {
        border-right: 1px solid #CFD1D2;
        border-left: none;
        border-top: none;
        border-bottom: none;
    }
    .space { padding-top: 250px; }

    .10p { width: 10%; } .15p { width: 15%; } .40p { width: 40%; } .95p { width: 95%; } .30p { width: 30%; }
    .35p { width: 35%; } .65p { width: 65%; } .80p { width: 80%; } .100p { width: 100%; } .55p { width: 55%; }
    .25p { width: 25%; } .50p { width: 50%; } .85p { width: 85%; } .5p { width: 5%; } .53p { width: 53%; }
    .60p { width: 60%; } .75p { width: 75%; } .90p { width: 90%; } .45p { width: 45%; } .54p { width: 54.3%; }
-->
</style>
 
<page backtop="10mm" backleft="10mm" backright="10mm" backbottom="10mm">
    <page_footer>
        <hr style="width:300px;"/>
        <p style="text-align:center;">Adresse: 64, boulevard du 30 juin, Commune de la Gombe, Kinshasa - RDC</p>
    </page_footer>

    <table style="vertical-align: top;">
        <tr>
            <td class="50p" style='text-align:center;'>
                <h4 style="font-weight:bold;margin-top:-15px;">REPUBLIQUE DEMOCRATIQUE DU CONGO</h4>            
                <span style="display:block;margin-top:-15px;">Ministère de l'Environnement, Conservation<br/>de la Nature et Tourisme</span>
                <p><img src="{{app.request.getSchemeAndHttpHost() ~ asset('assets/img/armoirie.png') }}" width="60" height="60"/></p>
                <span style="font-size:12px;">PROGRAMME DE CONTROLE DE LA PRODUCTION ET DE LA COMMERCIALISATION DES BOIS<br/><strong>(PCPCB)</strong></span>
            </td>
            <td class="25p">
                
            </td>
        </tr>
    </table>

    <table style="margin-top: 20px; border:1px solid #ccc;">
        <tr>
            <td class="65p"></td>
            <td class="35p" style="text-align: right;">
                <h2 style='color:orange;'>QUITTANCE</h2>
                <br/>
                <table border=1 align="right" class="border">
                    <tr>
                        <td style="text-align: left; font-weight:bold;">&nbsp;Date&nbsp;</td><td style="text-align: right;">&nbsp;&nbsp;{{invoice.dateFacture | date('d/m/Y')}}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left; font-weight:bold;">&nbsp;Numéro&nbsp;</td><td style="text-align: right;">&nbsp;&nbsp;{{invoice.ref}}</td>
                    </tr>                       
                </table>
            
            </td>
        </tr>
         
    </table>
    
    <table style="margin-top: 30px; text-align:left;" class="border">
        <thead>
            <tr>
                <th class="100p orange" style="text-align:left;"><strong>Facturer à :</strong> </th>                 
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="100p"  style="text-align:left;"><strong>Personne contact</strong> &nbsp;: {{invoice.target.directeur.noms}}</td>
            </tr>
            <tr>
                <td class="100p"  style="text-align:left;"><strong>Nom de la société</strong> &nbsp;: {{invoice.target}}</td>
            </tr>
            <tr>
                <td class="100p"  style="text-align:left;"><strong>Adresse</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {% if not invoice.target.adresse is empty %} {{invoice.target.adresse}} {% endif %}<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kinshasa-RDC</td>
            </tr>
            <tr>
                <td class="100p"  style="text-align:left;"><strong>Téléphone</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {% if not invoice.target.tel is empty %} {{invoice.target.tel}} {% endif %}</td>
            </tr>
        </tbody>
    </table>

    <table style="margin-top: 30px;" class="border">
        <thead>
            <tr>
                <th class="5p orange">N°</th>
                <th class="25p orange">Description</th>
                <th class="10p orange">Quantité</th>
                <th class="15p orange">P.U<br/><em>(en FC)</em></th>
                <th class="15p orange">P.T<br/><em>(en FC)</em></th>
            </tr>
        </thead>
        <tbody>         
            {% for i in invoice.items %}   
                <tr>
                    <td>{{ loop.index }}</td>
                    <td class="55p texte">{{i.libelle}}</td>
                    <td>{{i.qte}}</td>
                    <td>{{i.pu|number_format(2, ',', '.')}}</td>
                    <td>{{i.total|number_format(2, ',', '.')}}</td>          
                </tr>            
            {% endfor %}  
            <tr>
                <td colspan="3" class="no-border"></td>
                <td style="text-align: center;" rowspan="3"><strong>Total à payer </strong></td>
                <td><strong>{{invoice.total|number_format(2, ',', '.')}}</strong> </td>
            </tr>            
        </tbody>
    </table>
    
    <table style="margin-top: 30px;">
        <tbody>
            <tr>
                <td class="5p"></td>
                <td class="25p"><strong>Vu et vérifié par<br/>PCPCB</strong></td>
                <td class="40p"></td>                
                <td class="25p"><strong>Nom, cachet, signature</strong></td>                 
            </tr>
        </tbody>
    </table>
    
    <br/><br/><br/>
    <table style="margin-top: 30px;">
        <tbody>
            <tr>
                <td class="50p" style='font-size:10px; border:2px solid #ED7E4B; padding:5px;'>
                    Le montant de la quittance est à payer aux comptes réservés ci-après<br/>
                    ouverts à la BCDC :<br/>
                    - <b>CDF</b>: 101-1094874-37<br/>
                    - <b>USD</b>: 101-1094875-34 (SWIFT: BCDCCDKI)<br/>
                    Libellez les chèques au nom de <b>PCPCBOUEST</b>.<br/>
                    Pour toute question concernant cette quittance, contactez aux numéros<br/>
                    081 06 64 362 - 084 39 63 004 ou à l'adresse électronique
                    <u>assistance@sigef.cd</u><br/>
                    Merci !
                </td>        
            </tr>
        </tbody>
    </table>

</page>
