<style type="text/css">
<!--
    div.zone { border: none; border-radius: 6mm; background: #FFFFFF; border-collapse: collapse; padding:3mm; font-size: 2.7mm;}
    h1 { padding: 0; margin: 0; color: #DD0000; font-size: 7mm; }
    h2 { padding: 0; margin: 0; color: #222222; font-size: 5mm; position: relative; }
    div.top_top{width:97.5%; height:100%; background-image: url({{app.request.getSchemeAndHttpHost() ~ asset('assets/img/hm3c.png') }}); background-position:center ; background-repeat: no-repeat;}
-->
</style>
 
    <page format="116x200" orientation="L" backcolor="#FFF" style="font: arial;border:2px solid #000;">
        <div class="top_top">
            <table style="width:100%; border:3px solid #000;" border="1">
                <table style="width: 100%;border: none;" cellspacing="1mm" cellpadding="0">
                    <tr>
                         <td style="width:30%;font-weight:bold; font-size:25px; "><img src="{{app.request.getSchemeAndHttpHost() ~ asset('assets/img/logo.png') }}" alt="logo" height="90" style=""/></td>
                         <td style="width:38%;"></td>
                         <td style="text-align:right;width:30%;font-weight:bold; font-size:15px; "><br>Kinshasa, le {{payment.date | date('d/m/Y')}}</td>
                    </tr>
                </table>
                <table style="width: 100%;border: none;" cellspacing="1mm" cellpadding="0">
                    <tr>
                        <td style="width:10%;"></td>
                         <td style="width:80%; text-align:center;text-decoration:underline;color:#000;"><h1 style="color:#000; font-size:27px;font-weight:bold;">RECU DE PAIEMENT</h1></td>
                         <td style=""></td>        
                    </tr>
                </table>
                 
                 <table style="width: 100%;border: none;margin-tops:-30px;" cellspacing="1mm" cellpadding="0">
                    <tr>
                         <td style="width:30%;"></td>
                         <td style="width:33%;"></td>
                         <td style="text-align:right;width:35%;font-weight:bold;border:2px solid #000; font-size:17px;"> {{payment.invoice.ref}}</td>
                    </tr>
                </table>
                
                <table style="width: 100%;border: none;" cellspacing="1mm" cellpadding="0">
                    <tr>
                        <td style="width:30%; font-size:18px;">&nbsp;&nbsp;Reçu de : </td>
                         <td style="width:70%; text-align:left; font-size:18px;">&nbsp;&nbsp;&nbsp; {{payment.invoice.target}}</td>                           
                    </tr>
                    <tr>
                        <td style="width:30%; font-size:18px;">&nbsp;&nbsp;Mode paiement : </td>
                         <td style="width:70%; text-align:left; font-size:18px;">&nbsp;&nbsp;&nbsp; {{payment.account}} </td>                        
                    </tr>
                    <tr>
                        <td style="width:30%; font-size:18px;">&nbsp;&nbsp;La somme de : </td>
                         <td style="width:70%; text-align:left; font-size:18px;">&nbsp;&nbsp;&nbsp; {{payment.amount|number_format(2, ',', '.')}}  </td>                         
                    </tr>
                    <tr>
                        <td style="width:35%; font-size:18px;">&nbsp;&nbsp;Motif : </td>
                         <td style="width:70%; text-align:left; font-size:18px;">&nbsp;&nbsp;&nbsp; {{payment.note}}</td>                         
                    </tr>
                     
                </table>
                <br/>
                <table style="width: 100%;border: none;" align="scenter" cellspacing="1mm" cellpadding="0">
                    <tr>
                         <td style="width:20%;text-align:center; font-size:17px; font-weight:bolds;">&nbsp;&nbsp;&nbsp;</td>
                         <td style="width:50%; text-align:center; font-size:17px; font-weight:bolds;"></td>
                         <td style="width:30%;text-align:center; font-size:17px; font-weight:bolds;">&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                         <td style="width:20%;text-align:center; font-size:17px; font-weight:bolds;"><qrcode value="http://www.uafs.cd/index.php?ref={{payment.invoice.ref}}" ec="Q" style="width: 16mm; border: 1px solid #000;" ></qrcode></td>
                         <td style="width:40%; text-align:center; font-size:17px; font-weight:bolds;"></td>
                         <td style="width:30%;text-align:center; font-size:17px; font-weight:bold;colors:white;">Signature</td>
                    </tr>
                </table>
            </table>
        </div>
    </page>