{% extends "SpyTimelineBundle:Action:components.html.twig" %}
{% block subject_component %}
    <span class="Entry-subject">{{ value }}</span>
{% endblock subject_component %}
{% block _dossierbundle_entity_dossier_dossier_component %}
    <a class="Entry-complement" href="{{ path('admin_dossier_dossier_show',{ 'id': value.id }) }}">{{ value }}</a>
{% endblock %}
{% block _demandebundle_entity_recovery_recovery_component %}
    {% if is_granted('VIEW',value) %}
        <a class="Entry-complement" href="{{ path('admin_demande_recovery_show',{ 'id': value.id }) }}">recouvrement de {{ value }}</a>
    {% else %}
        <span class="Entry-complement">recouvrement de {{ value }}</span>
    {% endif %}
{% endblock %}
{% block _invoicebundle_entity_invoice_invoice_component %}
    {% if is_granted('VIEW',value) %}
        <a class="Entry-complement" href="{{ path('admin_invoice_invoice_show',{ 'id': value.id }) }}">facture {{ value }}</a>
    {% else %}
        <span class="Entry-complement">facture {{ value }}</span>
    {% endif %}
{% endblock %}