{% set trash = trash |default(false) %}
<tr class="Entry">
    {% if trash %}
    <td class="Entry-trash">
        {% set aid = "action_"~timeline.id %}
        <input type="checkbox" name="activity_actions[]" id="{{ aid }}" value="{{ timeline.id }}">
        <label for="{{ aid }}"></label>
    </td>
    {% endif %}
    <td class="Entry-date">
        {{ timeline.createdAt | date("D d-m, Y") }}
    </td>
    <td class="Entry-context">
        <i class="fa fa-{% spaceless %}{% block icon %}{% endblock %}{% endspaceless %}"></i>
    </td>
    <td colspan="8">
        <div class="Entry-action">
            {% block action %}
                {{ timeline_component_render(timeline,'subject') }} {{ timeline_component_render(timeline,'verb') }}
            {% endblock %}
        </div>
    </td>
</tr>