{% extends "ActivityBundle:Activity:default.html.twig" %}
{% block icon %}
    check-square-o
{% endblock %}
{% block action %}
    {{ timeline_component_render(timeline,'subject') }}
    a validé le
    {{ timeline_component_render(timeline,'dossier') }}
{% endblock %}