{% extends "ActivityBundle:Activity:default.html.twig" %}
{% block icon %}
    {{ attribute(activity_contexts,'dossier') }}
{% endblock %}
{% block action %}
    {{ timeline_component_render(timeline,'subject') }}
    a retourné le
    {{ timeline_component_render(timeline,'dossier') }}
    vers
    {{ timeline_component_render(timeline,'step') }}
{% endblock %}