{% extends "ActivityBundle:Activity:default.html.twig" %}
{% block icon %}
    {{ attribute(activity_contexts,'recovery') }}
{% endblock %}
{% block action %}
    {{ timeline_component_render(timeline,'subject') }}
    a soumis
    {{ timeline_component_render(timeline,'recovery') }}
{% endblock %}