{% import _self as func %}
<div class="table-responsive">
    <table class="table table-condensed table-hover table-bordered table-striped">
        <thead>
            <tr>
                {% for k,h in header %}
                    <th>{{ h }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for e in entries %}
                {{ func.printLine }}
            {% endfor %}
        </tbody>
    </table>
</div>

{% macro printLine(headers, entry) %}
    <tr>
    {% for k,h in header %}
        <td>{{ attribute(entry,k) }}</td>
    {% endfor %}
    </tr>
{% endmacro %}