{% extends base_template %}
{% block title %}Paramètres{% endblock%}
{% block breadcrumb %}
{% endblock %}
{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block content %}
    <div class="sonata-ba-confirm">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title"> <i class="fa fa-wrench"></i> {{ block('title') }}</h3>
            </div>
            {{ form_start(form) }}
            <div class="box-body">
                {{ form_widget(form) }}
            </div>
            <div class="box-footer clearfix">
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Enregistrer</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}