{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block show %}
    {{ parent() }}

    <div class="sonata-ba-view">
        <div class="row">
            <div class="col-lg-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">Essences</h4>
                    </div>
                    
                    <div class="box-body table-responsive no-padding">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Essence</th>
                                <th>Quantité</th>
                                <th>Tonnage (m3)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in object.tige %}
                                <tr>
                                    <td>{{ item.essence }}</td>
                                    <td>{{ item.nombreArbre }}</td>
                                    <td>{{ item.cubage }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            {{ block('thead') }}
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}