{% extends base_template %}
{% block title %}{{ title| default("Cartographie de l'inventaire") }}{% endblock%}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}
{% block actions %}
    {{ include("InventoryBundle:Map:select_essence.html.twig") }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <!--link rel="stylesheet" href="{{ asset('assets/css/style.css') }}"/-->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
        <!--script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script-->  
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFl13H7cRNUkSgCx2lnCI1F7SmriskWyI&callback=initialize&v=3.exp" type="text/javascript"></script>
        <script type="text/javascript" src="{{ asset('assets/js/maps.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="sonata-ba-div">
        <div class="box box-primary">
            <div class="box-header">
                <!--h3 class="box-title">Cartographie de l'inventaire</h3-->
            </div>
            <div class="box-body">                    
                 <div class="geomap" id="map-canvas" data-centre='{{centre}}' data-coords="{{ data|json_encode()}}" data-icon="{{app.request.getSchemeAndHttpHost() ~ asset('assets/img/azcx.png') }}" data-kml="{{ asset(vich_uploader_asset(id, 'file')) }}">
                    CARTOGRAPHIE DE L'INVENTAIRE
                </div>
            </div>
        </div>
    </div>
{% endblock %}

