<!--div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form method="get" action="" class="navbar-form navbar-right">
            <div class="form-group">
            	<select class="form-control" name="essence">
				  {% for lists in essence %}
				    <option value="{{lists.id}}">{{ lists.nomPilote }}</option>
				  {% endfor %}
				</select>
             </div>
            <button type="submit" class="btn btn-default">Rechercher</button>
        </form>
    </div>
</div-->