{% block hint %}
    <p>
        Pour importer des données il vous suffit de soumettre un fichier CSV valide, avec les en-têtes et valeurs dans le bon ordre. Vous avez la possibilité de télécharger un fichier modèle que vous pourrez remplir et soumettre par la suite.
    </p>
{% endblock %}