{% extends "SonataAdminBundle:CRUD:action.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-lg-6">
            {{ sonata_block_render({
                'type': 'invoice.block.account_chart',
                'settings': {
                'chart': 'account_month_movement',
                'title': 'Totaux paiement mensuel',
                'account': account
                }
            }) }}
        </div>
        <div class="col-md-12 col-lg-6">
            {{ sonata_block_render({
                'type': 'invoice.block.account_chart',
                'settings': {
                'chart': 'account_year_movement',
                'title': 'Totaux paiements annuels',
                'account': account
                }
            }) }}
        </div>
    </div>
{% endblock %}