{% if admin.isGranted('VIEW', object) %}
    <a href="{{ path('admin_invoice_invoice_payment_list', {'id': object.id }) }}">
        <i class="fa fa-list-ol"></i>
        voir les paiements
    </a>
{% endif %}