<div class="box box-primary">
    <div class="box-header">
        <h4 class="box-title">Items</h4>
    </div>
    <div class="box-body table-responsive no-padding">
        <table class="table">
            <thead>
            <tr>
                <th>Désignation</th>
                <th>TVA</th>
                <th>Unité</th>
                <th>Qte</th>
                <th>P.U</th>
                <th>total</th>
            </tr>
            </thead>
            <tbody>
            {% for item in invoice.items %}
                <tr>
                    <td>{{ item.libelle }}</td>
                    <td>{{ item.tva }}</td>
                    <td>{{ item.sku }}</td>
                    <td>{{ item.qte }}</td>
                    <td>{{ item.pu | number_format(2,".",",")}}</td>
                    <td>{{ item.total | number_format(2,".",",")}}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5"></td>
                    <td class="invoice_total">
                        <strong>{{ invoice.total | number_format(2,".",",")}} {{ invoice.currency }}</strong>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
