{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block show %}
    {{ parent() }}

    <div class="sonata-ba-view">
        <div class="row">
            <div class="col-md-12">
                {% set invoice = object %}
                {{ include("InvoiceBundle:CRUD:invoice_items.html.twig") }}
            </div>
        </div>
    </div>
{% endblock %}