{% if admin.isGranted('CREATE', object) %}
    <a target="_blank" class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('printpayment', object) }}">
        <i class="fa fa-print"></i>
        imprimer
    </a>
{% endif %}