{% if admin.isGranted('VIEW', object) %}
    <a class="btn btn-default btn-sm" href="{{ admin.generateObjectUrl('accountReport', object) }}">
        <i class="fa fa-bar-chart"></i>
        graphiques
    </a>
{% endif %}