{% if admin.isGranted('VIEW',object) %}
    <a target="_blank" class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('print', object) }}">
        <i class="fa fa-print"></i>
        imprimer
    </a>
{% endif %}