{% if admin.isGranted('PAY', object) %}
    <a class="btn btn-sm btn-primary" href="{{ path('admin_invoice_invoice_payment_create', {'id': object.id }) }}">
        <i class="fa fa-usd"></i>
        payer
    </a>
{% endif %}