{% if admin.isGranted('ANNOTATE', object) %}
    <a href="{{ path('admin_dossier_dossier_annotation_create', {'id': object.id }) }}">
        <i class="fa fa-sticky-note-o"></i>
        annoter le dossier
    </a>
{% endif %}