{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% set _extended = block("extended") %}
{% block show %}
    <div class="row">
        <div class="col-md-8">
            {{ parent() }}
            {% set annexes = object.annexes %}
            <div class="box box-primary">
                <div class="box-header">
                    <h4 class="box-title">Annexes</h4>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        {% for a in annexes %}
                            <tr>
                                <td>{{ a.titre }}</td>
                                <td>
                                    {% set file = vich_uploader_asset(a,'imageFile') %}
                                    <a target="_blank" title="{{ a.titre }}" href="{{ asset(file) }}">
                                        <i class="fa fa-download"></i> télécharger
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {{ _extended |raw }}
        </div>
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header">
                    <h4 class="box-title">Annotations</h4>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <tr>
                            <td>{{ include('DossierBundle:CRUD:list__action_annotate.html.twig') }}</td>
                        </tr>
                        {% set annotations = object.annotations %}
                        {% for a in annotations %}
                            <tr>
                                <td>
                                    <div class="Annotation">
                                        <div class="Annotation-head">par {{ a.user | capitalize}}, le {{ a.date | date('l d M,Y') }}</div>
                                        <div class="Annotation-content">
                                            <p>
                                                {{ a.contenu }}
                                            </p>
                                        </div>
                                        {% if not a.name is null %}
                                            {% set file = vich_uploader_asset(a,'fichier') %}
                                            <a target="_blank" title="pièce-jointe" href="{{ asset(file) }}">
                                                <i class="fa fa-file-text-o"></i> pièce-jointe
                                            </a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}