{% if admin.isGranted('RETURN', object) %}
    <a class="btn btn-sm btn-danger" href="{{ admin.generateObjectUrl('return', object) }}">
        <i class="fa fa-mail-reply"></i>
        retourner
    </a>
{% endif %}