{% if admin.isGranted('SUBMIT', object) %}
    <a class="btn btn-sm btn-primary" href="{{ admin.generateObjectUrl('submit', object) }}">
        <i class="fa fa-upload"></i>
        soumettre
    </a>
{% endif %}