{% if admin.isGranted('VERIFY', object) %}
    <a class="btn btn-sm btn-success" href="{{ admin.generateObjectUrl('verify', object) }}">
        <i class="fa fa-check-circle"></i>
        valider
    </a>
{% endif %}