{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block show %}
    {{ parent() }}

    <div class="sonata-ba-view">
        <div class="row">
            <div class="col-lg-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">Tableau synoptique</h4>
                    </div>
                    
                    <div class="box-body table-responsive no-padding">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>N° ACIBO</th>
                                <th>ESSENCE</th>
                                <th>NOMBRE DE GRUMES</th>
                                <th>NOMBRE DE GRUMES PENALISEES</th>
                                <th>VOLUME</th>
                                <th>PERIODE</th>
                                <th>ETIQUETTE (9500 FC)</th>
                                <th>ETIQUETTE SAISIE (38 880 FC)</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>                                
                                    <td>{% for item in object.grume %} {{ item.numPermis }},<br/>{% endfor %}</td>
                                    <td>{% for item in object.grume %} {{ item.essence }},<br/>{% endfor %}</td>
                                    <td>{{ object.grume | length }} </td>
                                    <td>{{ object.nombreGrumeSaisie}}</td>
                                    <td>{% for item in object.grume %} {{ item.cubagesa }}<br/>{% endfor %} </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>                           
                                </tr>
                            </tbody>
                            <tfoot>
                            {{ block('thead') }}
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}