{% extends base_template %}

{% block title %}
    authentification de document: "{{ object }}"
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block actions %}
    {% include 'SonataAdminBundle:CRUD:action_buttons.html.twig' %}
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': sonata_admin.adminPool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% block form %}
    {{ form_start(form,{ 'method':'POST', 'attr': {'role': 'form'} }) }}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h4 class="box-title">Authentification</h4>
                </div>
                <div class="box-body">
                    {{ form_widget(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="sonata-ba-form-actions well well-small form-actions">
        <button class="btn btn-success">
            <i class="fa fa-unlock"></i>
            authentifier
        </button>
    </div>
    {{ form_end(form) }}
{% endblock %}