{% if admin.isGranted('VIEW',object) and not object.name is null %}
    {% set file = vich_uploader_asset(object,'imageFile') %}
    <a class="btn btn-sm btn-default" target="_blank" title="pièce-jointe" href="{{ asset(file) }}">
        <i class="fa fa-download"></i> télécharger
    </a>
{% endif %}