{% extends 'DossierBundle:CRUD:dossier.html.twig' %}

{% block extended %}
    {% set data = attribute(object,'data') %}
    {% set id = attribute(data,'file') | default(null) %}
    {% if is_granted("AUTH_FILE",object) %}
        <div class="well">
            {% if not id is null %}
                <a class="btn btn-sm btn-warning" title="pièce-jointe" href="{{ path('admin_upload_files_auth', {'files': id,'d': object.id}) }}">
                    <i class="fa fa-unlock"></i> authentifier le document
                </a>
                <a class="btn btn-sm btn-primary" target="_blank"  title="pièce-jointe" href="{{ path('admin_upload_files_show', {'id': id,'reference': object.reference}) }}">
                    <i class="fa fa-eye"></i> affcher le document.
                </a>
            {% else %}
                <span class="badge badge-error">aucun document attaché à la demande d'authentification</span>
            {% endif %}
        </div>
    {% endif %}
    {% if is_granted("VIEW_AUTH_FILE",object) %}
        <div class="well">
            {% if not id is null %}
                <a class="btn btn-sm btn-primary" target="_blank"  title="pièce-jointe" href="{{ path('admin_upload_files_show', {'id': id,'reference': object.reference}) }}">
                    <i class="fa fa-eye"></i> affcher le document.
                </a>
            {% else %}
                <span class="badge badge-error">aucun document attaché à la demande d'authentification</span>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}