{% extends base_template %}

{% block actions %}
    {% include 'SonataAdminBundle:CRUD:action_buttons.html.twig' %}
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': sonata_admin.adminPool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% block content %}
    <div class="sonata-ba-confirm">
        <div class="box box-danger">
            <div class="box-header">
                <h3 class="box-title">Demande de confirmation</h3>
            </div>
            <div class="box-body">
                {{ message }}
            </div>
            <div class="box-footer clearfix">
                {{ form_start(form) }}
                    {{ form_widget(form) }}

                    <button type="submit" class="btn btn-danger"><i class="fa fa-check"></i> Oui, confirmer</button>

                    {% if admin.hasRoute('edit') and admin.isGranted('EDIT', object) %}
                        ou

                        <a class="btn btn-success" href="{{ admin.generateObjectUrl('edit', object) }}">
                            <i class="fa fa-pencil"></i>
                            {{ 'link_action_edit'|trans({}, 'SonataAdminBundle') }}</a>
                    {% endif %}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}