{% extends "SonataAdminBundle:CRUD:list_choice.html.twig" %}

{% block field %}
    {% spaceless %}
        <span class="label label-status_{{ value }}">{{ parent() }}</span>
    {% endspaceless %}
{% endblock %}